flask
flask-sqlalchemy
mysql-connector-python
flask-jwt-extended
python-dotenv
mysqlclient
flask-migrate
marshmallow
matplotlib
pydeps
marshmallow_sqlalchemy
openai
flask_mail
pytest
pytest-flask
pymysql
