#root {
  width: 100%;
}


.nav {
  color: #f8c954;
  font-size: 14px; 
  margin: 0px 25px;
}

.nav-active {
  text-decoration: underline;
  color: #0000ff;
  margin: 0px 20px;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./assets/Hero1.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0px;
  left: 0px;

}
.hero-text{
  margin-left: 50px;
  margin-top: 10rem;
  
}
.hero-text > h1 {
  font-size: 51px;
  display: inline;
  color: #f8c954;
}
.hero-text > i {
  font-size: 16px;
  color: #ffffff;
  display: block;
  margin-top: 5px;
}

.button {
  border: 1px solid #f8c954;
  border-radius: 50px;
  text-align: center;
  /* background-color: transparent; */
  font-size: 20px;
  /* margin: 20px 50px; */
  padding: 10px 50px;
  cursor: pointer;
}
.card {
  border: 2px solid #f8c954;
  color: #000000;
  text-align: center;
  padding: 15px;
  width: fit-content;
  height: fit-content;
}
img {
  border: 2px solid black;
}

.ldn-txt {
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}
.ldn-txt1{
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.icon-card {
  border: 2px solid #f8c954;
  display: inline-block;
}

.input-flex {
  position : relative;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.symptom-list {
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}



  