@font-face {
  font-family: "Forum";
  src: url("./assets/fonts/Forum-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  display: flex;
  font-family: 'Forum', sans-serif;
  /* border: 2px solid blue; */
}
.ldn-txt {
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}
.ldn-txt1{
  font-size: 20px;
  text-align: center;
  padding-left: 15px;
}